*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .container { 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('game.background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 }

 .character-container {
     position: absolute;
 }

 #character {
    width: 150px;
    height: 150px;
    position: absolute;
    transition: all 1s ease;
 }

 .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 10%;
 }

 button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
 }

 .left-right {
    display: flex;
    gap: 30px;
 }

 .up-down {
    display: flex;
    gap:30px;
 }